<h1>User info</h1>
 <h4>Name<h4>
 <h4>Image</h4>
 <%= form_for @user do |form| %>
                  <%= form.attachment_field :profile_image %>
                  <%= attachment_image_tag @user, :profile_image %>
                <% end %>
 <h4>Introduction <%= f.text_area :introduction </h4>
 <%= f.submit 'Update User' %>